<html>
  <head>
    <meta 
     name='viewport' 
     content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>
    <title>Радио книга</title>
    <link rel="manifest" href="/manifest.json" />
    <link rel="shortcut icon" href="/images/icons/favicon.ico" />
    <link rel="stylesheet" href="{{ '/styles/global.css' | url }}">
    <script>
      if ("serviceWorker" in navigator)
        navigator.serviceWorker.register("/service-worker.js");
    </script> 
  </head>

  <body>
  <img src="/images/uploads/top-slogan.png" alt="radiobook">
  <audio id="player" src="http://bookradio.hostingradio.ru:8069/fm" autoplay > </audio>


  {# <div class='player'> 
  <input class='controls' type='image' src = '/images/uploads/play.svg' onclick="document.getElementById('player').play()"/>
  <input class='controls' type='image' src = '/images/uploads/stop.svg' onclick="document.getElementById('player').pause()"/>
  </div>

  <div class='player'> 
  <input class='controls' type='image' src = '/images/uploads/vup.svg' onclick="document.getElementById('player').volume += 0.1"/>
  <input class='controls' type='image' src = '/images/uploads/vdown.svg' onclick="document.getElementById('player').volume -= 0.1"/>
  </div>
  <div class='player'> 
  <input class='controls' type='image' src = '/images/uploads/mute.svg' onclick="document.getElementById('player').volume = 0"/>
  </div> #}

<div class="grid-container">
  <div class="mute"> <input class='controls' type='image' src = '/images/uploads/mute.svg' onclick="document.getElementById('player').volume = 0"/></div>
  <div class="play"><input class='controls' type='image' src = '/images/uploads/play.svg' onclick="document.getElementById('player').play()"/></div>
  <div class="pause"><input class='controls' type='image' src = '/images/uploads/stop.svg' onclick="document.getElementById('player').pause()"/></div>
  <div class="vup"><input class='controls' type='image' src = '/images/uploads/vup.svg' onclick="document.getElementById('player').volume += 0.1"/></div>
  <div class="vdown"><input class='controls' type='image' src = '/images/uploads/vdown.svg' onclick="document.getElementById('player').volume -= 0.1"/></div>
</div>
    {# {{ content | safe }} #}
<div class='source'>
Источник: <a href="https://radiokniga.com/">Радио Книга</a>

</div>
  </body>

</html>