<html>
  <head>
    <meta 
     name='viewport' 
     content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>
    <title>Eleventy Заглавное сообщение</title>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <link rel="manifest" href="/manifest.json" />
    <link rel="shortcut icon" href="/images/icons/favicon.ico" />
    <link rel="stylesheet" href="{{ '/styles/global.css' | url }}">
    <link rel="stylesheet" href="{{ '/styles/prism.css' | url }}">
        <!-- Preload font -->
    <link rel="preload" href="/fonts/Roboto-Bold.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/Roboto-BoldItalic.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/Roboto-Italic.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/Roboto-Regular.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/JetBrainsMono-Regular.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/JetBrainsMono-Italic.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/JetBrainsMono-Bold.woff" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/fonts/JetBrainsMono-Bold-Italic.woff" as="font" type="font/woff" crossorigin>
    <script>
      if ("serviceWorker" in navigator)
        navigator.serviceWorker.register("/service-worker.js");
    </script> 
  </head>

  <body>
    {% include "../components/header.njk" %}
    {{ content | safe }}
    <script src="/styles/prism.js"></script>
    <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
  </body>

</html>