body {
  background-color: #121212;
  color: #ffffff
} 

p {
  font-size: 16px;
}
.player {
  width: 60%;
  margin: auto;
  margin-top: 35px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .controls {
    /* margin: auto; */
    /* display: inline; */
    padding: 5px;
    /* min-width: 25%; */
    max-width: inherit;
    
  }


  .grid-container {
    display: grid;
    margin-top: 35px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 77px 46px;
    grid-template-areas: "play pause" "vup vdown" "mute mute";
  }
  
  .mute { grid-area: mute; 
  margin-left: 35%; max-width: 45%;
}
  
  .play { grid-area: play; margin: auto; margin-left: 69px; max-width: 69%;}
  
  .pause { grid-area: pause; margin: auto; margin-right: 69px;max-width: 69%;}
  
  .vup { grid-area: vup; margin: auto; margin-left: 69px;max-width: 69%;}
  
  .vdown { grid-area: vdown; margin: auto; margin-right: 69px;max-width: 69%;}



  .source {
    margin-top: 189px;
  }